SUPABASE_URL=https://dgzadilmtuqvimolzxms.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRnemFkaWxtdHVxdmltb2x6eG1zIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MTI1NTIzNiwiZXhwIjoyMDY2ODMxMjM2fQ.AxcnALmg09uWGZzJFQz-7UqlfsDf5VSt0q0CreMHhZE
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRnemFkaWxtdHVxdmltb2x6eG1zIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTEyNTUyMzYsImV4cCI6MjA2NjgzMTIzNn0.Ur6jw55ObRG3I5Uvr0W7wri90dZtdn-jfjQH7yjkTlI
SUPABASE_PERSONAL_ACCESS_TOKEN=sbp_76b60d323249485de1144f002518b9a4f5a0178f
ELEVENLABS_API_KEY=your-api-key
ELEVENLABS_AGENT_ID=your-agent-id
ELEVENLABS_PHONE_NUMBER_ID=your-phone-number-id
TWILIO_ACCOUNT_SID=AC922e23b76c582ae9156d893e0166476c
TWILIO_AUTH_TOKEN=0202e916041b84b7225c872154597217
TWILIO_PHONE_NUMBER=+17786526908
