-- =====================================================
-- URGENT SECURITY FIX: Cross-Organization Data Protection
-- This addresses the critical security vulnerabilities where:
-- 1. Conversations are shared across organizations by phone number
-- 2. Analytics data is not organization-scoped
-- Run this IMMEDIATELY in Supabase SQL Editor
-- =====================================================

-- 🔧 STEP 1: Add organization support to existing schema
-- Create organizations table if it doesn't exist
CREATE TABLE IF NOT EXISTS organizations (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    name TEXT NOT NULL,
    slug TEXT UNIQUE NOT NULL,
    is_active BOOLEAN DEFAULT true,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Create user_profiles table if it doesn't exist
CREATE TABLE IF NOT EXISTS user_profiles (
    id UUID REFERENCES auth.users(id) ON DELETE CASCADE PRIMARY KEY,
    organization_id UUID REFERENCES organizations(id) ON DELETE RESTRICT,
    email TEXT NOT NULL,
    first_name TEXT,
    last_name TEXT,
    role TEXT DEFAULT 'admin' CHECK (role IN ('super_admin', 'admin', 'manager', 'agent', 'viewer')),
    is_active BOOLEAN DEFAULT true,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Enable RLS
ALTER TABLE user_profiles ENABLE ROW LEVEL SECURITY;
ALTER TABLE organizations ENABLE ROW LEVEL SECURITY;

-- Create simple RLS policies
CREATE POLICY "Allow authenticated users to read user_profiles" ON user_profiles
    FOR SELECT USING (auth.role() = 'authenticated' OR auth.role() = 'service_role');

CREATE POLICY "Allow users to read organizations" ON organizations
    FOR SELECT USING (auth.role() = 'authenticated' OR auth.role() = 'service_role');

-- 🔧 STEP 2: Add organization_id to existing tables (NON-DESTRUCTIVE)
ALTER TABLE leads ADD COLUMN IF NOT EXISTS organization_id UUID REFERENCES organizations(id);
ALTER TABLE conversations ADD COLUMN IF NOT EXISTS organization_id UUID REFERENCES organizations(id);
ALTER TABLE messages ADD COLUMN IF NOT EXISTS organization_id UUID REFERENCES organizations(id);
ALTER TABLE call_recordings ADD COLUMN IF NOT EXISTS organization_id UUID REFERENCES organizations(id);
ALTER TABLE webhook_logs ADD COLUMN IF NOT EXISTS organization_id UUID REFERENCES organizations(id);

-- Add indexes for organization filtering
CREATE INDEX IF NOT EXISTS idx_leads_organization_id ON leads(organization_id);
CREATE INDEX IF NOT EXISTS idx_conversations_organization_id ON conversations(organization_id);
CREATE INDEX IF NOT EXISTS idx_messages_organization_id ON messages(organization_id);
CREATE INDEX IF NOT EXISTS idx_call_recordings_organization_id ON call_recordings(organization_id);
CREATE INDEX IF NOT EXISTS idx_webhook_logs_organization_id ON webhook_logs(organization_id);

-- 🔧 STEP 3: Create default organization and migrate existing data
INSERT INTO organizations (name, slug, is_active) 
VALUES ('Default Dealership', 'default-dealership', true)
ON CONFLICT (slug) DO NOTHING;

-- Get the default organization ID for migration
DO $$
DECLARE
    default_org_id UUID;
BEGIN
    SELECT id INTO default_org_id FROM organizations WHERE slug = 'default-dealership';
    
    -- Migrate existing data to default organization
    UPDATE leads SET organization_id = default_org_id WHERE organization_id IS NULL;
    UPDATE conversations SET organization_id = default_org_id WHERE organization_id IS NULL;
    UPDATE messages SET organization_id = default_org_id WHERE organization_id IS NULL;
    UPDATE call_recordings SET organization_id = default_org_id WHERE organization_id IS NULL;
    UPDATE webhook_logs SET organization_id = default_org_id WHERE organization_id IS NULL;
    
    RAISE NOTICE 'Migrated existing data to default organization: %', default_org_id;
END $$;

-- 🔧 STEP 4: Update RLS policies to enforce organization isolation
-- Drop existing overly permissive policies
DROP POLICY IF EXISTS "Service role can access all leads" ON leads;
DROP POLICY IF EXISTS "Service role can access all conversations" ON conversations;
DROP POLICY IF EXISTS "Service role can access all messages" ON messages;
DROP POLICY IF EXISTS "Service role can access all call_recordings" ON call_recordings;
DROP POLICY IF EXISTS "Service role can access all webhook_logs" ON webhook_logs;

-- Create helper function to get user's organization
CREATE OR REPLACE FUNCTION public.get_user_organization_id()
RETURNS UUID AS $$
BEGIN
    -- For service role, return NULL to allow access to all data (for server operations)
    IF auth.role() = 'service_role' THEN
        RETURN NULL;
    END IF;
    
    -- For authenticated users, get their organization from user_profiles
    RETURN (
        SELECT organization_id 
        FROM user_profiles 
        WHERE id = auth.uid()
        LIMIT 1
    );
END;
$$ LANGUAGE plpgsql STABLE SECURITY DEFINER;

-- Create new organization-scoped RLS policies
CREATE POLICY "Multi-tenant leads access" ON leads
    FOR ALL USING (
        auth.role() = 'service_role' OR
        organization_id = public.get_user_organization_id()
    );

CREATE POLICY "Multi-tenant conversations access" ON conversations
    FOR ALL USING (
        auth.role() = 'service_role' OR
        organization_id = public.get_user_organization_id()
    );

CREATE POLICY "Multi-tenant messages access" ON messages
    FOR ALL USING (
        auth.role() = 'service_role' OR
        organization_id = public.get_user_organization_id()
    );

CREATE POLICY "Multi-tenant call_recordings access" ON call_recordings
    FOR ALL USING (
        auth.role() = 'service_role' OR
        organization_id = public.get_user_organization_id()
    );

CREATE POLICY "Multi-tenant webhook_logs access" ON webhook_logs
    FOR ALL USING (
        auth.role() = 'service_role' OR
        organization_id = public.get_user_organization_id()
    );

-- 🔧 STEP 5: Create user profile on signup to fix auth issues
CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS TRIGGER AS $$
DECLARE
    default_org_id UUID;
BEGIN
    -- Get default organization
    SELECT id INTO default_org_id FROM organizations WHERE slug = 'default-dealership' LIMIT 1;
    
    -- Create user profile with default organization
    INSERT INTO public.user_profiles (id, email, organization_id, role)
    VALUES (
        NEW.id,
        NEW.email,
        default_org_id,
        'admin'  -- First user becomes admin
    );
    
    RETURN NEW;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- Trigger to create profile on signup
DROP TRIGGER IF EXISTS on_auth_user_created ON auth.users;
CREATE TRIGGER on_auth_user_created
  AFTER INSERT ON auth.users
  FOR EACH ROW EXECUTE FUNCTION public.handle_new_user();

-- 🔧 STEP 6: Add updated_at triggers for new tables
CREATE TRIGGER update_organizations_updated_at BEFORE UPDATE ON organizations
    FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_user_profiles_updated_at BEFORE UPDATE ON user_profiles
    FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

-- =====================================================
-- VERIFICATION QUERIES (run these to check the fix)
-- =====================================================

-- Check if organization columns were added
SELECT 
    table_name,
    column_name,
    data_type,
    is_nullable
FROM information_schema.columns 
WHERE table_name IN ('leads', 'conversations', 'messages') 
AND column_name = 'organization_id'
ORDER BY table_name;

-- Check data migration status
SELECT 
    'leads' as table_name,
    COUNT(*) as total_records,
    COUNT(organization_id) as records_with_org_id,
    COUNT(*) - COUNT(organization_id) as missing_org_id
FROM leads
UNION ALL
SELECT 
    'conversations' as table_name,
    COUNT(*) as total_records,
    COUNT(organization_id) as records_with_org_id,
    COUNT(*) - COUNT(organization_id) as missing_org_id
FROM conversations;

-- =====================================================
-- POST-DEPLOYMENT NOTES
-- =====================================================

/*
✅ IMMEDIATE FIXES APPLIED:
1. Added organization_id to all critical tables
2. Created organization-scoped RLS policies
3. Migrated existing data to default organization
4. Fixed user profile creation on signup
5. Added proper indexing for organization queries

🚨 SERVER CODE CHANGES STILL NEEDED:
1. Update conversation loading functions to filter by organization
2. Update analytics endpoints to require organization_id
3. Update frontend components to pass organization context

🔐 SECURITY STATUS:
- Database: ✅ SECURED (organization isolation enforced)
- Server API: ❌ NEEDS UPDATES (conversation filtering)
- Frontend: ❌ NEEDS UPDATES (organization context)

Next steps: Update server.js and frontend components.
*/
